# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\utilisateur\Desktop\IUT Info\Annee2\Sem3\CPOA\cpoa-tp5-hugomouchan\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
